*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 500;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 20px;
}
.h1{
    text-align: center;
}
.dis{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.num{
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
    padding-left: 10px;
}
.sub{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.card{
    text-align: center;
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 10px;
}
h2{
    margin-top: 5px;
}
.plane{
    margin-top: 10px;
}